.navBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: none;
  backdrop-filter: brightness(90%) blur(10px);
  position: relative;
  min-width: 0;
  -webkit-backdrop-filter: brightness(90%) blur(10px);
  padding: 16px 16px 0px;
}
.navBar > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.navBar > :global(.__wab_flex-container) > *,
.navBar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navBar > :global(.__wab_flex-container) > picture > img,
.navBar
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
  background: none;
  backdrop-filter: brightness(90%) blur(10px);
  position: relative;
  min-width: 0;
  -webkit-backdrop-filter: brightness(90%) blur(10px);
  padding: 16px 16px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navBar {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navBar > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navBar {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
.freeBox__fze5W {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.freeBox__fze5W > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__fze5W > :global(.__wab_flex-container) > *,
.freeBox__fze5W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fze5W > :global(.__wab_flex-container) > picture > img,
.freeBox__fze5W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__fze5W {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fze5W {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fze5W > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fze5W > :global(.__wab_flex-container) > *,
  .freeBox__fze5W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fze5W > :global(.__wab_flex-container) > picture > img,
  .freeBox__fze5W
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fze5W {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.img {
  object-fit: cover;
  position: relative;
  align-self: center;
  max-width: 343px;
  width: 100%;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: calc(10px + 16px) !important;
  min-width: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox___2Iwi7 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___2Iwi7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___2Iwi7 > :global(.__wab_flex-container) > *,
.freeBox___2Iwi7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2Iwi7 > :global(.__wab_flex-container) > picture > img,
.freeBox___2Iwi7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox___2Iwi7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2Iwi7 {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2Iwi7 > :global(.__wab_flex-container) {
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2Iwi7 > :global(.__wab_flex-container) > *,
  .freeBox___2Iwi7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___2Iwi7 > :global(.__wab_flex-container) > picture > img,
  .freeBox___2Iwi7
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2Iwi7 {
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.link__ingV6 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-SHJKjXj3_);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 5px 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__ingV6 {
    background: none;
    display: none;
  }
}
.text__adC7E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Arial Rounded MT";
  color: var(--token-OxTzNZuyK);
  min-width: 0;
}
.link__lsoP7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  max-width: 100%;
  background: none;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  flex-shrink: 0;
  flex-grow: 1;
  min-height: 0;
  padding: 5px 10px;
}
.text__ih8Mn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Arial Rounded MT";
  color: var(--token-OxTzNZuyK);
  min-width: 0;
}
.link__eBeM7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  max-width: 100%;
  background: none;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  flex-shrink: 0;
  flex-grow: 1;
  min-height: 0;
  padding: 5px 10px;
}
.text__uqd3O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Arial Rounded MT";
  color: var(--token-OxTzNZuyK);
  min-width: 0;
}
.link__kfZyv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  max-width: 100%;
  background: none;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  flex-shrink: 0;
  flex-grow: 1;
  min-height: 0;
  padding: 5px 10px;
}
.text__c410J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Arial Rounded MT";
  color: var(--token-OxTzNZuyK);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__c410J {
    align-self: center;
    text-align: center;
  }
}
.link___8A4K {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  background: none;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  flex-shrink: 0;
  flex-grow: 1;
  padding: 5px 10px;
}
.text__gsR2Z {
  position: relative;
  width: auto;
  height: auto;
  font-family: "Arial Rounded MT";
  color: var(--token-OxTzNZuyK);
}
.freeBox__xaxU {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__tbCds {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__rkpgk {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__xAbbI {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
