.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: url("/plasmic/red_panda_studios_website/images/schoolBgBlurpng.png") top 0% left 50% / cover repeat fixed;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  height: 1770px;
  padding-right: 0px;
  min-width: 0;
  flex-shrink: 0;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: fixed;
  left: auto;
  top: auto;
  z-index: 1;
  filter: none;
  flex-grow: 1;
  width: auto;
  height: auto;
  bottom: 36px;
  right: 46px;
  flex-shrink: 0;
  opacity: 0;
}
.img__quWk {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: 119px;
  height: 258px;
  right: 326px;
  flex-shrink: 0;
}
.img__quWk > picture > img {
  object-fit: cover;
}
.img__quWk > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__quWk {
    width: 184px;
    right: 34px;
    height: 90px;
    top: 32px;
    flex-shrink: 0;
  }
}
.img___2Qiqv {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 166px;
  top: 1318px;
  height: auto;
  margin-right: 0px;
  width: 597px;
}
.img___2Qiqv > picture > img {
  object-fit: cover;
}
.img___2Qiqv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___2Qiqv {
    left: 4px;
    top: 466px;
    width: 196px;
    display: block !important;
  }
}
.img__n5UGf {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 51px;
  top: 237px;
  height: 768px;
  flex-shrink: 0;
}
.img__n5UGf > picture > img {
  object-fit: cover;
}
.img__n5UGf > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__n5UGf {
    left: -78px;
    top: 81px;
    width: 321px;
    height: 339px;
    flex-shrink: 0;
  }
}
.img__eqzuJ {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: 847px;
  height: 768px;
  right: 180px;
  flex-shrink: 0;
}
.img__eqzuJ > picture > img {
  object-fit: cover;
}
.img__eqzuJ > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__eqzuJ {
    right: 18px;
    top: 124px;
    height: 353px;
    width: 167px;
    flex-shrink: 0;
  }
}
