.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  background: url("/plasmic/red_panda_media_website/images/shikuForestBlurDarkpng.png") 0% 0% / cover;
  overflow: auto;
  min-width: 0;
  padding: 0px;
}
.navBar {
  flex-direction: row;
  display: flex;
  width: 100%;
  position: sticky;
  background: none;
  left: 0px;
  top: 0px;
  z-index: 1;
  backdrop-filter: brightness(90%) blur(10px);
  min-width: 0;
  -webkit-backdrop-filter: brightness(90%) blur(10px);
  padding: 16px 16px 0px;
}
.navBar > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.navBar > :global(.__wab_flex-container) > *,
.navBar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navBar > :global(.__wab_flex-container) > picture > img,
.navBar
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navBar {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navBar > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__dKlN {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.freeBox__dKlN > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__dKlN > :global(.__wab_flex-container) > *,
.freeBox__dKlN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dKlN > :global(.__wab_flex-container) > picture > img,
.freeBox__dKlN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dKlN {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dKlN > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dKlN > :global(.__wab_flex-container) > *,
  .freeBox__dKlN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dKlN > :global(.__wab_flex-container) > picture > img,
  .freeBox__dKlN
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.img__zJktI {
  object-fit: cover;
  position: relative;
  align-self: center;
  max-width: 343px;
  width: 100%;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: calc(10px + 16px) !important;
  min-width: 0;
}
.img__zJktI > picture > img {
  object-fit: cover;
}
.img__zJktI > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__zJktI {
    margin-left: calc(10px + 0px) !important;
    margin-top: calc(10px + 16px) !important;
  }
}
.freeBox__kUbO {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__kUbO > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__kUbO > :global(.__wab_flex-container) > *,
.freeBox__kUbO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kUbO > :global(.__wab_flex-container) > picture > img,
.freeBox__kUbO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kUbO {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kUbO > :global(.__wab_flex-container) {
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    align-items: center;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kUbO > :global(.__wab_flex-container) > *,
  .freeBox__kUbO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kUbO > :global(.__wab_flex-container) > picture > img,
  .freeBox__kUbO
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.link__kOAg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-SHJKjXj3_);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 5px 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__kOAg {
    background: none;
  }
}
.text__mXqvS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Arial Rounded MT";
  color: var(--token-OxTzNZuyK);
  min-width: 0;
}
.link__uf56Z {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  max-width: 100%;
  background: none;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  flex-shrink: 0;
  flex-grow: 1;
  min-height: 0;
  padding: 5px 10px;
}
.text__xApdF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Arial Rounded MT";
  color: var(--token-OxTzNZuyK);
  min-width: 0;
}
.link__nggnc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  max-width: 100%;
  background: none;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  flex-shrink: 0;
  flex-grow: 1;
  min-height: 0;
  padding: 5px 10px;
}
.text__zi7Rj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Arial Rounded MT";
  color: var(--token-OxTzNZuyK);
  min-width: 0;
}
.link___3FS0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  max-width: 100%;
  background: none;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  flex-shrink: 0;
  flex-grow: 1;
  min-height: 0;
  padding: 5px 10px;
}
.text__qk5XV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Arial Rounded MT";
  color: var(--token-OxTzNZuyK);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qk5XV {
    align-self: center;
    text-align: center;
  }
}
.freeBox__dnAi4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__lmJ9W {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___975Ro {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__uhDLl {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.columns__ic8T {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-height: 1000px;
  margin-top: 50px;
  min-width: 0;
  padding: 8px 0px 0px;
}
.columns__ic8T > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
.columns__ic8T > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 6 / 12);
}
.columns__ic8T > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ic8T {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ic8T > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__s61Wh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 15px 15px 15px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__s61Wh {
    display: none;
  }
}
.freeBox___80AHz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 0px;
  background: var(--token-Nx7DqWjWf);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  flex-shrink: 1;
  flex-grow: 0;
  max-height: 1000px;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___80AHz {
    display: none;
  }
}
.text__xkr20 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #f47d31;
  font-family: "Arial Rounded MT";
  font-weight: 700;
  font-size: 24px;
  background: none;
  text-align: center;
  min-width: 0;
  border-radius: 0px;
  padding: 0px;
  margin: 10px 10px 10px 0px;
}
.timeline:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 10px;
  margin: 10px;
}
.column__pcMc6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__pcMc6 {
    padding-top: 0px;
  }
}
.text___37G9D {
  position: relative;
  width: 100%;
  height: auto;
  color: #f47d31;
  font-family: "Arial Rounded MT";
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  min-width: 0;
  padding: 0px;
  margin: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___37G9D {
    padding: 10px;
  }
}
.text__oI6G {
  position: relative;
  width: 100%;
  height: auto;
  color: var(--token-OxTzNZuyK);
  font-family: "Arial Rounded MT";
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  min-width: 0;
  margin: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__oI6G {
    padding: 10px;
  }
}
.reveal__gfZv:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox___2TLeu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-Nx7DqWjWf);
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
}
.text__tRrBj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #f47d31;
  font-family: "Arial Rounded MT";
  font-weight: 700;
  font-size: 24px;
  min-width: 0;
  padding: 0px;
  margin: 10px;
}
.columns__f6WLu {
  display: flex;
  position: relative;
  width: 100%;
  height: 20%;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 0;
  min-width: 0;
  padding: 8px;
}
.columns__f6WLu > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__f6WLu > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__f6WLu {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__f6WLu > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__l0V33 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.tilt__rl9Eo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.link__vzKUg {
  position: relative;
  display: flex;
  margin: 16px 10px 10px;
}
.img__nlcyl {
  object-fit: cover;
  max-width: 100%;
  flex-shrink: 0;
}
.img__nlcyl > picture > img {
  object-fit: cover;
}
.img__nlcyl > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text___0GclI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #f47d31;
  font-family: "Arial Rounded MT";
  font-weight: 700;
  font-size: 18px;
  min-width: 0;
  padding: 0px;
  margin: 10px 10px 0px;
}
.text__s6Icj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-OxTzNZuyK);
  font-family: "Arial Rounded MT";
  min-width: 0;
  padding: 0px;
  margin: 0px 10px 10px;
}
.column__oe3Pc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.tilt__dJgQx:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.link__qgoOa {
  position: relative;
  display: flex;
  margin: 0px 10px 10px;
}
.img___2BJn {
  object-fit: cover;
  max-width: 100%;
}
.img___2BJn > picture > img {
  object-fit: cover;
}
.img___2BJn > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__jixCa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #f47d31;
  font-family: "Arial Rounded MT";
  font-weight: 700;
  font-size: 18px;
  min-width: 0;
  padding: 0px;
  margin: 0px 10px;
}
.text__p4Tor {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-OxTzNZuyK);
  font-family: "Arial Rounded MT";
  min-width: 0;
  padding: 0px;
  margin: 0px 10px 10px;
}
.column___7KFxr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 15px 0px 15px 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___7KFxr {
    padding: 15px;
  }
}
.reveal___5U8X1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: block;
  flex-direction: column;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal___5U8X1:global(.__wab_instance) {
    align-self: center;
    display: flex;
  }
}
.freeBox__e4Mmr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 561px;
  height: 100%;
  max-width: 100%;
  background: var(--token-Nx7DqWjWf);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0px 4px 16px 0px #00000033;
  margin-top: 113px;
  min-height: 0;
  padding: 8px 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__e4Mmr {
    padding: 8px;
    margin: 0px;
  }
}
.text__xEmfa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #f47d31;
  font-family: "Arial Rounded MT";
  font-weight: 700;
  font-size: 24px;
  background: none;
  text-align: center;
  min-width: 0;
  border-radius: 0px;
  padding: 0px;
  margin: 10px 10px 10px 0px;
}
.link___4Fhva {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OxTzNZuyK);
  min-width: 0;
  padding: 8px;
}
.freeBox__xTMln {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-SHJKjXj3_);
  box-shadow: inset 0px 4px 16px 0px #00000033;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
}
.svg___6GMw3 {
  position: relative;
  object-fit: cover;
  max-width: 10%;
  color: var(--token-OxTzNZuyK);
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.text__rIhZz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  text-align: center;
  align-self: center;
  color: var(--token-OxTzNZuyK);
  font-family: "Arial Rounded MT";
  font-size: 18px;
  min-width: 0;
  padding: 10px;
}
.link__zB4Mc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OxTzNZuyK);
  min-width: 0;
  padding: 8px;
}
.freeBox__luykD {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-SHJKjXj3_);
  box-shadow: inset 0px 4px 16px 0px #00000033;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
}
.svg___1Va8Y {
  position: relative;
  object-fit: cover;
  max-width: 10%;
  color: var(--token-OxTzNZuyK);
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.text__n17Yf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  text-align: center;
  align-self: center;
  color: var(--token-OxTzNZuyK);
  font-family: "Arial Rounded MT";
  font-size: 18px;
  min-width: 0;
  padding: 10px;
}
.link__jKmhG {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OxTzNZuyK);
  min-width: 0;
  padding: 8px;
}
.freeBox__sCJ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-SHJKjXj3_);
  box-shadow: inset 0px 4px 16px 0px #00000033;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
}
.svg__gz0We {
  position: relative;
  object-fit: cover;
  max-width: 10%;
  color: var(--token-OxTzNZuyK);
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.text__l99Ma {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  text-align: center;
  align-self: center;
  color: var(--token-OxTzNZuyK);
  font-family: "Arial Rounded MT";
  font-size: 18px;
  min-width: 0;
  padding: 10px;
}
