.navBar {
  flex-direction: row;
  display: flex;
  width: 100%;
  position: relative;
  background: url("/plasmic/red_panda_media_website/images/shikuForestBlurDarkpng.png") top 0% left 50% / cover repeat;
  min-width: 0;
  padding: 16px 16px 0px;
}
.navBar > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.navBar > :global(.__wab_flex-container) > *,
.navBar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navBar > :global(.__wab_flex-container) > picture > img,
.navBar
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navBar {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navBar > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__csQfp {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.freeBox__csQfp > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__csQfp > :global(.__wab_flex-container) > *,
.freeBox__csQfp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__csQfp > :global(.__wab_flex-container) > picture > img,
.freeBox__csQfp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__csQfp {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__csQfp > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__csQfp > :global(.__wab_flex-container) > *,
  .freeBox__csQfp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__csQfp > :global(.__wab_flex-container) > picture > img,
  .freeBox__csQfp
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.img {
  object-fit: cover;
  width: 378px;
  height: 81px;
  position: relative;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__aSeVx {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__aSeVx > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__aSeVx > :global(.__wab_flex-container) > *,
.freeBox__aSeVx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aSeVx > :global(.__wab_flex-container) > picture > img,
.freeBox__aSeVx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aSeVx > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aSeVx > :global(.__wab_flex-container) > *,
  .freeBox__aSeVx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__aSeVx > :global(.__wab_flex-container) > picture > img,
  .freeBox__aSeVx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.button2___0Y5Fe:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-end;
}
.svg__aoZq {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__ns7Ty {
  font-family: "Arial Rounded MT";
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  color: var(--token-OxTzNZuyK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__xKsh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__o8NDa:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__cWb0I {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__bSfya {
  font-family: "Arial Rounded MT";
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  color: var(--token-OxTzNZuyK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___1JFSg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__x0TSj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__saxv {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__fDrqd {
  font-family: "Arial Rounded MT";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: var(--token-OxTzNZuyK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__k0ROz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__omIIp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__xyTg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__jLsY {
  font-family: "Arial Rounded MT";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: var(--token-OxTzNZuyK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__dFsqb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__rx4Qo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.button2__cfqN:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__vKyA {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__cnTiE {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__hsWd7 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
