.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: url("/plasmic/red_panda_media_website/images/shikuForestBlurDarkjpg.jpeg") top 50% left 50% / cover repeat;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    justify-content: center;
    align-items: center;
  }
}
.navBar2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: sticky;
  background: none;
  left: 0px;
  top: 0px;
  z-index: 1;
  backdrop-filter: brightness(90%) blur(10px);
  min-width: 0;
  -webkit-backdrop-filter: brightness(90%) blur(10px);
  padding: 16px 16px 0px;
}
.navBar2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.navBar2 > :global(.__wab_flex-container) > *,
.navBar2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navBar2 > :global(.__wab_flex-container) > picture > img,
.navBar2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navBar2 {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navBar2 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__yQqEg {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.freeBox__yQqEg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__yQqEg > :global(.__wab_flex-container) > *,
.freeBox__yQqEg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yQqEg > :global(.__wab_flex-container) > picture > img,
.freeBox__yQqEg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yQqEg {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yQqEg > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yQqEg > :global(.__wab_flex-container) > *,
  .freeBox__yQqEg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yQqEg > :global(.__wab_flex-container) > picture > img,
  .freeBox__yQqEg
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.img__isHjd {
  object-fit: cover;
  position: relative;
  align-self: center;
  max-width: 343px;
  width: 100%;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: calc(10px + 16px) !important;
  min-width: 0;
}
.img__isHjd > picture > img {
  object-fit: cover;
}
.img__isHjd > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__isHjd {
    margin-left: calc(10px + 0px) !important;
    margin-top: calc(10px + 0px) !important;
  }
}
.freeBox__f4ZPx {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__f4ZPx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__f4ZPx > :global(.__wab_flex-container) > *,
.freeBox__f4ZPx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f4ZPx > :global(.__wab_flex-container) > picture > img,
.freeBox__f4ZPx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__f4ZPx > :global(.__wab_flex-container) {
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__f4ZPx > :global(.__wab_flex-container) > *,
  .freeBox__f4ZPx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__f4ZPx > :global(.__wab_flex-container) > picture > img,
  .freeBox__f4ZPx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.link__uskl9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 5px 10px;
}
.text__dwrvS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Arial Rounded MT";
  color: var(--token-OxTzNZuyK);
  min-width: 0;
}
.link__ySnYw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  max-width: 100%;
  background: none;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  flex-shrink: 0;
  flex-grow: 1;
  min-height: 0;
  padding: 5px 10px;
}
.text__ra9LQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Arial Rounded MT";
  color: var(--token-OxTzNZuyK);
  min-width: 0;
}
.link__mzFnI {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  max-width: 100%;
  background: var(--token-SHJKjXj3_);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  flex-shrink: 0;
  flex-grow: 1;
  min-height: 0;
  padding: 5px 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__mzFnI {
    display: none;
  }
}
.text__wtgCc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Arial Rounded MT";
  color: var(--token-OxTzNZuyK);
  min-width: 0;
}
.link__xJjyn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  max-width: 100%;
  background: none;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  flex-shrink: 0;
  flex-grow: 1;
  min-height: 0;
  padding: 5px 10px;
}
.text__vWomI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Arial Rounded MT";
  color: var(--token-OxTzNZuyK);
  min-width: 0;
}
.link__zr4Ge {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  background: none;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  flex-shrink: 0;
  flex-grow: 1;
  padding: 5px 10px;
}
.text__ghPm5 {
  position: relative;
  width: auto;
  height: auto;
  font-family: "Arial Rounded MT";
  color: var(--token-OxTzNZuyK);
}
.freeBox___1Tqbl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__zZwnl {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__tm5Ss {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___1CeH1 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.img__whvpZ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 153px;
  margin-top: 40px;
  flex-shrink: 0;
}
.img__whvpZ > picture > img {
  object-fit: cover;
}
.img__whvpZ > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__whvpZ {
    width: 100%;
    max-width: 80%;
    object-fit: contain;
    min-width: 0;
    margin: 10px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__whvpZ > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__whvpZ > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.reveal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.tilt:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.link___7SBSq {
  position: relative;
  display: flex;
  margin: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___7SBSq {
    justify-content: center;
    align-items: center;
  }
}
.img__skKQr {
  object-fit: cover;
  max-width: 100%;
  width: 478px;
  box-shadow: none;
  flex-shrink: 0;
}
.img__skKQr > picture > img {
  object-fit: cover;
}
.img__skKQr > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__skKQr {
    max-width: 90%;
  }
}
