.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: url("/plasmic/red_panda_media_website/images/shikuForestBlurDarkpng.png") 0% 0% / cover repeat-y padding-box
    border-box fixed;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.navBar2:global(.__wab_instance) {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.freeBox__uKxYv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: 0px;
  left: auto;
  top: auto;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.columns__ic8T {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-height: none;
  flex-grow: 1;
  min-width: 0;
  padding: 8px 0px 0px;
}
.columns__ic8T > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
.columns__ic8T > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 6 / 12);
}
.columns__ic8T > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ic8T {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ic8T > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__s61Wh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 15px 15px 15px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__s61Wh {
    display: none;
  }
}
.freeBox___80AHz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 0px;
  background: var(--token-Nx7DqWjWf);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  flex-shrink: 1;
  flex-grow: 0;
  max-height: 1000px;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___80AHz {
    display: none;
  }
}
.text__xkr20 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #f47d31;
  font-family: "Arial Rounded MT";
  font-size: 24px;
  background: none;
  text-align: center;
  font-weight: 700;
  min-width: 0;
  border-radius: 0px;
  padding: 0px;
  margin: 10px 10px 10px 0px;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
  margin: 10px;
}
.timeline:global(.__wab_instance) {
  flex-direction: column;
  overflow-y: auto;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
  display: none;
  padding: 10px;
  margin: 10px;
}
.column__pcMc6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__pcMc6 {
    padding-top: 0px;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
  }
}
.text___37G9D {
  position: relative;
  width: 100%;
  height: auto;
  color: #f47d31;
  font-family: "Arial Rounded MT";
  font-size: 48px;
  text-align: center;
  font-weight: 700;
  min-width: 0;
  padding: 0px;
  margin: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___37G9D {
    padding: 0px;
  }
}
.text__oI6G {
  position: relative;
  width: 100%;
  height: auto;
  color: var(--token-OxTzNZuyK);
  font-family: "ABeeZee", sans-serif;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  min-width: 0;
  margin: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__oI6G {
    padding: 10px;
    margin: 0px;
  }
}
.reveal__gfZv:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal__gfZv:global(.__wab_instance) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.freeBox___2TLeu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-Nx7DqWjWf);
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  border-radius: 15px;
  padding: 0px 10px 10px;
  margin: 10px;
}
.text__tRrBj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #f47d31;
  font-family: "ABeeZee", sans-serif;
  font-size: 24px;
  font-weight: 700;
  min-width: 0;
  padding: 10px;
  margin: 0px;
}
.columns__f6WLu {
  display: flex;
  position: relative;
  width: 100%;
  height: 20%;
  flex-shrink: 1;
  flex-direction: row;
  flex-grow: 0;
  min-width: 0;
  padding: 10px;
}
.columns__f6WLu > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.columns__f6WLu > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 10px) * 6 / 12);
}
.columns__f6WLu > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 10px) * 6 / 12);
}
.columns__f6WLu > :global(.__wab_flex-container) > *,
.columns__f6WLu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__f6WLu > :global(.__wab_flex-container) > picture > img,
.columns__f6WLu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__f6WLu {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__f6WLu > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__f6WLu > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 10px) * 12 / 12);
  }
}
.disukoDatingSim {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.tilt__rl9Eo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  height: auto;
  width: auto;
}
.link__vzKUg {
  position: relative;
  display: flex;
  margin: 16px 10px 10px;
}
.img__nlcyl {
  object-fit: cover;
  max-width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
}
.img__nlcyl > picture > img {
  object-fit: cover;
}
.img__nlcyl > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text___0GclI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #f47d31;
  font-family: "ABeeZee", sans-serif;
  font-size: 18px;
  font-weight: 700;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.text__s6Icj {
  position: relative;
  width: 100%;
  height: auto;
  color: var(--token-OxTzNZuyK);
  font-family: "ABeeZee", sans-serif;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  min-width: 0;
  margin: 0px;
}
.grooveMachines {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.tilt__dJgQx:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.link__qgoOa {
  position: relative;
  display: flex;
  margin: 0px 10px 10px;
}
.img___2BJn {
  object-fit: cover;
  max-width: 100%;
}
.img___2BJn > picture > img {
  object-fit: cover;
}
.img___2BJn > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__jixCa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #f47d31;
  font-family: "ABeeZee", sans-serif;
  font-size: 18px;
  font-weight: 700;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.text__p4Tor {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-OxTzNZuyK);
  font-family: "ABeeZee", sans-serif;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.freeBox__p7T0B {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-Nx7DqWjWf);
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
}
.text___5I5Gc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #f47d31;
  font-family: "ABeeZee", sans-serif;
  font-weight: 700;
  font-size: 24px;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.columns___2Gq2Z {
  display: flex;
  position: relative;
  width: 100%;
  height: 20%;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 0;
  min-width: 0;
  padding: 8px;
}
.columns___2Gq2Z > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___2Gq2Z > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___2Gq2Z {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___2Gq2Z > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.microcosm2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.tilt__lmGka:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.link__tGeh {
  position: relative;
  display: flex;
  margin: 16px 10px 10px;
}
.img__upMtI {
  object-fit: cover;
  max-width: 100%;
  flex-shrink: 0;
}
.img__upMtI > picture > img {
  object-fit: cover;
}
.img__upMtI > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__wFt7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #f47d31;
  font-family: "ABeeZee", sans-serif;
  font-size: 18px;
  font-weight: 700;
  min-width: 0;
  padding: 0px;
  margin: 10px 10px 0px;
}
.text__lmXl2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-OxTzNZuyK);
  font-family: "ABeeZee", sans-serif;
  min-width: 0;
  padding: 0px;
  margin: 0px 10px 10px;
}
.eggRanger2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.tilt___0ENuj:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.link__cgSp {
  position: relative;
  display: flex;
  margin: 0px 10px 10px;
}
.img__u5Dc8 {
  object-fit: cover;
  max-width: 100%;
}
.img__u5Dc8 > picture > img {
  object-fit: cover;
}
.img__u5Dc8 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__mY8A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #f47d31;
  font-family: "ABeeZee", sans-serif;
  font-size: 18px;
  font-weight: 700;
  min-width: 0;
  padding: 0px;
  margin: 0px 10px;
}
.text___9Fo0Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-OxTzNZuyK);
  font-family: "ABeeZee", sans-serif;
  min-width: 0;
  padding: 0px;
  margin: 0px 10px 10px;
}
.column___7KFxr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 15px 0px 15px 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___7KFxr {
    padding: 15px;
  }
}
.reveal___5U8X1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: block;
  flex-direction: column;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal___5U8X1:global(.__wab_instance) {
    align-self: center;
    display: flex;
  }
}
.freeBox__e4Mmr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 561px;
  height: 100%;
  max-width: 100%;
  background: var(--token-Nx7DqWjWf);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0px 4px 16px 0px #00000033;
  margin-top: 113px;
  min-height: 0;
  padding: 8px 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__e4Mmr {
    border-radius: 15px;
    padding: 8px;
    margin: 0px;
  }
}
.text__xEmfa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #f47d31;
  font-family: "Arial Rounded MT";
  font-size: 24px;
  background: none;
  text-align: center;
  font-weight: 700;
  min-width: 0;
  border-radius: 0px;
  padding: 0px;
  margin: 10px 10px 10px 0px;
}
.link___4Fhva {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OxTzNZuyK);
  min-width: 0;
  padding: 8px;
}
.freeBox__xTMln {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-SHJKjXj3_);
  box-shadow: inset 0px 4px 16px 0px #00000033;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
}
.svg___6GMw3 {
  position: relative;
  object-fit: cover;
  max-width: 10%;
  color: var(--token-OxTzNZuyK);
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.text__rIhZz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  text-align: center;
  align-self: center;
  color: var(--token-OxTzNZuyK);
  font-family: "Arial Rounded MT";
  font-size: 18px;
  min-width: 0;
  padding: 10px;
}
.link__zB4Mc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OxTzNZuyK);
  min-width: 0;
  padding: 8px;
}
.freeBox__luykD {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-SHJKjXj3_);
  box-shadow: inset 0px 4px 16px 0px #00000033;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
}
.svg___1Va8Y {
  position: relative;
  object-fit: cover;
  max-width: 10%;
  color: var(--token-OxTzNZuyK);
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.text__n17Yf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  text-align: center;
  align-self: center;
  color: var(--token-OxTzNZuyK);
  font-family: "Arial Rounded MT";
  font-size: 18px;
  min-width: 0;
  padding: 10px;
}
.link__jKmhG {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OxTzNZuyK);
  min-width: 0;
  padding: 8px;
}
.freeBox__sCJ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-SHJKjXj3_);
  box-shadow: inset 0px 4px 16px 0px #00000033;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
}
.svg__gz0We {
  position: relative;
  object-fit: cover;
  max-width: 10%;
  color: var(--token-OxTzNZuyK);
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.text__l99Ma {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  text-align: center;
  align-self: center;
  color: var(--token-OxTzNZuyK);
  font-family: "Arial Rounded MT";
  font-size: 18px;
  min-width: 0;
  padding: 10px;
}
